.front-layer{
    position:absolute;
    z-index:-1;
    width:100vw;
    height:100vh;
    margin-top:-100px
}
.middle-layer{
    position:absolute;
    z-index:-1;
    width:100vw;
    height:100vh;
        top: 0px;
}
.back-layer{
    position:absolute;
    z-index:-1;
     width:100vw;
    height:100vh;
        top: 20px;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    margin-bottom:auto;
}

.our-story-landing {
    height: 100%;
    width: 100%
}

.image-text {
    font-family: Rokkitt;
    font-size: 48px;
    line-height: 0.96;
    color: #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    margin-bottom:auto;
}

.our-story-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.28;
    color: #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.our-story-content {
    font-family: Sintony;
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
    color: #2e2e2e;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
